/*layouting*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'questrial';
}

body {
    background: rgb(86,28,36);
    background: linear-gradient(90deg, rgba(86,28,36,1) 0%, rgba(109,41,50,1) 100%);
    color: #E8D8C4;
}

/*Layouting*/


/*navbar*/

nav {
    display: flex;
    transform: translateY(1rem);
    align-items: center;
    justify-content: space-around;
    color: #E8D8C4;
}

nav .logo span{
    display: flex;
    flex-direction: column;
    font-weight: normal
}

span {
    color: #C7B7A3;
    font-weight: normal;
}

nav .center-nav {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

nav .center-nav a {
    text-decoration: none;
}

nav .center-nav li{
    color: #E8D8C4;
    list-style: none;
}

nav .right-nav {
    gap: 2rem;
    display: flex;
}

nav .right-nav a {
    color: #E8D8C4;
    text-decoration: none;
}

/*Navbar*/


/*Landing page first section*/

.land-first-page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.land-first {
    padding-left: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.land-first .msc {
    display: flex;
    width: 100%;
    transform: translateX(-40px);
    padding-top: 2rem;
    text-align: center;
    align-items: center;
}

.land-first .msc .msc-1 img {
    padding-bottom: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
}

.land-first h2 {
    font-size: 5rem;
    font-weight: 900;
    color: #E8D8C4;
}

.land-first .det-p {
    width: 70%;
}

.land-first a {
    padding: 20px;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    border: solid #E8D8C4;
    border-radius: 20px ;
    color: #E8D8C4;
    text-decoration: none;
}


.land-first-page .coffee {
    transform: translateY(-100px);
    padding-right: 10rem;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Landing page first section*/


/*Landing page second section*/

.land-second-page {
    display: flex;
    width: 100%;
}

.land-second-page .left-side {
    width: 50%;
}

.land-second-page .left-side img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    aspect-ratio: 6/4;
}

.land-second-page .right-side {
    display: flex;
    background-color: #561C24;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 50%;
}

.land-second-page .right-side .right-side-content {
    width: 70%;
}

.land-second-page .right-side .right-side-content h2 {
    font-size: 5rem;
    font-weight: 900;
}

.land-second-page-2 {
    display: flex;
    width: 100%;
}

.land-second-page-2 .left-side-2 {
    display: flex;
    background-color: #561C24;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 50%;
}

.land-second-page-2 .left-side-2 .left-side-content {
    width: 70%;
}

.land-second-page-2 .left-side-2 .left-side-content h2 {
    font-size: 5rem;
    font-weight: 900;
}

.land-second-page-2 .right-side-2 {
    width: 50%;
}

.land-second-page-2 .right-side-2 img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    aspect-ratio: 6/4;
}

/*Landing page second section*/


/*Reviews section*/

.reviews-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-wrapper .review-title {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #E8D8C4;
    text-decoration: underline;
    text-decoration-color: #E8D8C4;
    text-decoration-thickness: 10px;
    text-underline-offset: 20px;
}

.reviews-wrapper .review-title h2 {
    font-size: 3.5rem;
    font-weight: 900;
}

.reviews-wrapper .review-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-bottom: 5rem;
    justify-content: space-around;
    width: 100%;
}

.reviews-wrapper .review-box-wrapper .review-box {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
   
}

.reviews-wrapper .review-box-wrapper .review-box .review-box-content {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center; 
    margin: 50px;
    padding: 100px;
    border-radius: 65px 0 65px;
    box-shadow: 0 0 12px 3px #6D2932;
    background-color: #6D2932;
}

.reviews-wrapper .review-box-wrapper .review-box .review-box-content h2 {
    font-size: 2rem;
    font-weight: 800;
}

/*Reviews section*/


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    background: #C7B7A3;
    color: #6D2932;
}


footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #6D2932;
}


footer .footer-wrapper {
    padding-top: 3rem;
    display: flex;
}

footer .footer-left {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    width: 25%;
}

footer .footer-left h2 {
    font-size: 2.5rem;
    width: 25%;
    font-weight: 900;
}

footer .footer-left span {
    color: #561C24;
    font-weight: normal;
}

footer .footer-right {
    width: 75%;
}

footer .footer-right .info-details-wrapper{
    display: flex;
    justify-content: space-around;
}


footer .footer-right .info-details-wrapper .social-media {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-right .info-details-wrapper .social-media h2 {
    font-size: 1.5rem;
}

footer .footer-right .info-details-wrapper .contact {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-right .info-details-wrapper .contact h2 {
    font-size: 1.5rem;
}

footer .footer-right .info-details-wrapper .location {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-right .info-details-wrapper .location h2 {
    font-size: 1.5rem;
}


footer .footer-line {
    text-align: center;
    color: #6D2932;
    width: 100%;
    height: 1%;
    padding: 1px;
    background-color: #6D2932;
}

footer .copy {
    text-align: center;
    padding: 1.5rem;
}
/*Footer*/
