* {
    font-family: 'questrial';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, rgba(86,28,36,1) 0%, rgba(109,41,50,1) 100%);
}

.titleu h2 {
    color: #E8D8C4;
    font-weight: 900;
}

.titleu span {
    color: #C7B7A3;
    font-weight: normal;
}

.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 2vh;
}

h2 {
    transform: translateY(-5vh);
}
form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container .btn {
    display: flex;
    gap: 3vh;
}

 .tambah{
    background:  rgba(0, 255, 47, 0.516);
    border-radius: 9px;
    border: none;
    box-shadow: none;
    color: white;
    font-weight:600;
    height: 50%;
    padding: 2vh;
}

.hapus{
    background:  rgba(255, 26, 1, 0.516);
    border-radius: 9px;
    border: none;
    box-shadow: none;
    color: white;
    font-weight:600;
    height: 50%;
    padding: 2vh;
}

.hapus:hover {
    cursor: pointer;
    background: rgba(255, 26, 1);
    color: black;
    transition: 0.3s;
}

.tambah:hover {
    cursor: pointer;    
    background: rgb(0, 255, 47);
    color: black;
    transition: 0.3s;
}



table {
display: flex;
width: 75%;
background: rgba(44, 24, 220, 0.19);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
text-align: center;
border: 1px solid rgba(44, 24, 220, 0.3);
}

table th {
    text-align: center;
    width: 100vh;
}

.edit{
    text-align: right;
    background:  rgba(0, 166, 255, 0.516);
    border: none;
    box-shadow: none;
    color: white;
    font-weight:600;
    height: 25%;
    padding: 2vh;
}

.edit:hover {
    cursor: pointer;
    background:  rgb(0, 166, 255);
    transition: 0.3s;
}