* {
    font-family: 'questrial';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, rgba(86,28,36,1) 0%, rgba(109,41,50,1) 100%);
}

.titleu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 2vh;
}

table {
display: flex;
width: 75%;
background: rgba(44, 24, 220, 0.19);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(44, 24, 220, 0.3);
}

table th {
    text-align: left;
    width: 100vh;
}